######################## VoiceRSS Text-to-Speech Engine ########################

# API key you got when you subscribed to the Voice RSS service
# Open your profile to get the value: http://www.voicerss.org/personel/
apiKey=e182e73b7497414a82d2d490f037a671
# e182e73b7497414a82d2d490f037a671