# /etc/udev/rules.d/10-dvb.rules
#
# To Ientify serial nos etc for a Device call
# udevadm info -a -p $(udevadm info -q path -n /dev/dvb/adapter0/frontend0)
#

#THIS WORKS - maybe
# Create a symlink /dev/dvb/adapter110 pointing to pinnacle tuner 0, and adapter111 for tuner 1
SUBSYSTEM=="dvb", ATTRS{idVendor}=="2040", ATTRS{idProduct}=="0265", PROGRAM="/bin/sh -c ' K=%k; K=$${K#dvb}; N=$${K#*.}; if [ ! -e /dev/dvb/adapter110/$N ] ; then  printf dvb/adapter110/%%s $${K#*.}; else printf dvb/adapter111/%%s $${K#*.}; fi ; exit 0'", SYMLINK+="%c"

#try this - working
# Create a symlink for both tuners of wintv dual hd device
SUBSYSTEM=="dvb", ATTRS{idVendor}=="2040", ATTRS{idProduct}=="0265", ENV{wintvdualhd}!="two", ENV{wintvdualhd}="two", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_hd0/%%s $${K#*.}'", SYMLINK+="%c"
SUBSYSTEM=="dvb", ATTRS{idVendor}=="2040", ATTRS{idProduct}=="0265", ENV{wintvdualhd}=="two", ENV{wintvdualhd}="one", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_hd1/%%s $${K#*.}'", SYMLINK+="%c"



///////////////////////////////////
#0
#KWorld USB Dual DVB-T TV Stick (DVB-T 399U) in kernel since 2.6.28 	1b80:e399 1b80:e400 USB2.0 	Afatech AF9013/Afatech AF9015/2x MXL5003S 	dvb-usb-af9015.fw
# Create a symlink for both tuners of KWorld USB Dual DVB-T TV Stick (DVB-T 399U) device
SUBSYSTEM=="dvb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="e399", ENV{399u}!="two", ENV{399u}="two", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_399u0/%%s $${K#*.}'", SYMLINK+="%c"
SUBSYSTEM=="dvb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="e399", ENV{399u}=="two", ENV{399u}="one", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_399u1/%%s $${K#*.}'", SYMLINK+="%c"

  looking at parent device '//devices/platform/scb/fd500000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0/usb1/1-1/1-1.1/1-1.1.2':
    KERNELS=="1-1.1.2"
    SUBSYSTEMS=="usb"
    DRIVERS=="usb"
    ATTRS{devpath}=="1.1.2"
    ATTRS{bDeviceClass}=="00"
    ATTRS{bConfigurationValue}=="1"
    ATTRS{urbnum}=="449853"
    ATTRS{configuration}==""
    ATTRS{bNumInterfaces}==" 2"
    ATTRS{bMaxPower}=="500mA"
    ATTRS{tx_lanes}=="1"
    ATTRS{ltm_capable}=="no"
    ATTRS{removable}=="unknown"
    ATTRS{manufacturer}=="Afatech"
    ATTRS{rx_lanes}=="1"
    ATTRS{avoid_reset_quirk}=="0"
    ATTRS{bcdDevice}=="0200"
    ATTRS{bDeviceSubClass}=="00"
    ATTRS{devspec}=="  (null)"
    ATTRS{product}=="DVB-T 2"
    ATTRS{quirks}=="0x0"
    ATTRS{bNumConfigurations}=="1"
    ATTRS{bDeviceProtocol}=="00"
    ATTRS{busnum}=="1"
    ATTRS{maxchild}=="0"
    ATTRS{version}==" 2.00"
    ATTRS{speed}=="480"
    ATTRS{devnum}=="5"
    ATTRS{idVendor}=="1b80"
    ATTRS{bMaxPacketSize0}=="64"
    ATTRS{idProduct}=="e399"
    ATTRS{bmAttributes}=="80"
    ATTRS{authorized}=="1"

1
KWorld USB Dual DVB-T TV Stick (DVB-T 399U) in kernel since 2.6.28 	1b80:e399 1b80:e400 USB2.0 	Afatech AF9013/Afatech AF9015/2x MXL5003S 	dvb-usb-af9015.fw

  looking at parent device '//devices/platform/scb/fd500000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0/usb1/1-1/1-1.1/1-1.1.2':
    KERNELS=="1-1.1.2"
    SUBSYSTEMS=="usb"
    DRIVERS=="usb"
    ATTRS{manufacturer}=="Afatech"
    ATTRS{devnum}=="5"
    ATTRS{removable}=="unknown"
    ATTRS{bNumConfigurations}=="1"
    ATTRS{product}=="DVB-T 2"
    ATTRS{idVendor}=="1b80"
    ATTRS{bmAttributes}=="80"
    ATTRS{configuration}==""
    ATTRS{bNumInterfaces}==" 2"
    ATTRS{speed}=="480"
    ATTRS{bDeviceSubClass}=="00"
    ATTRS{bDeviceProtocol}=="00"
    ATTRS{bcdDevice}=="0200"
    ATTRS{devspec}=="  (null)"
    ATTRS{idProduct}=="e399"
    ATTRS{maxchild}=="0"
    ATTRS{tx_lanes}=="1"
    ATTRS{urbnum}=="510693"
    ATTRS{quirks}=="0x0"
    ATTRS{busnum}=="1"
    ATTRS{bConfigurationValue}=="1"
    ATTRS{devpath}=="1.1.2"
    ATTRS{avoid_reset_quirk}=="0"
    ATTRS{bDeviceClass}=="00"
    ATTRS{rx_lanes}=="1"
    ATTRS{ltm_capable}=="no"
    ATTRS{version}==" 2.00"
    ATTRS{authorized}=="1"
    ATTRS{bMaxPacketSize0}=="64"
    ATTRS{bMaxPower}=="500mA"

#2
#KWorld UB499-2T T09 in kernel since 3.2 1b80:e409 USB2.0 IT9137 dvb-usb-it9137-01.fw
# Create a symlink for both tuners of KWorld UB499-2T T09 device
SUBSYSTEM=="dvb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="e409", ENV{UB499T09}!="two", ENV{UB499T09}="two", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_UB499T09_0/%%s $${K#*.}'", SYMLINK+="%c"
SUBSYSTEM=="dvb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="e409", ENV{UB499T09}=="two", ENV{UB499T09}="one", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_UB499T09_1/%%s $${K#*.}'", SYMLINK+="%c"

 looking at parent device '//devices/platform/scb/fd500000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0/usb1/1-1/1-1.1/1-1.1.3':
    KERNELS=="1-1.1.3"
    SUBSYSTEMS=="usb"
    DRIVERS=="usb"
    ATTRS{avoid_reset_quirk}=="0"
    ATTRS{removable}=="unknown"
    ATTRS{quirks}=="0x0"
    ATTRS{bDeviceSubClass}=="00"
    ATTRS{bNumInterfaces}==" 1"
    ATTRS{bcdDevice}=="0200"
    ATTRS{tx_lanes}=="1"
    ATTRS{maxchild}=="0"
    ATTRS{bDeviceClass}=="00"
    ATTRS{product}=="DVB-T TV Stick"
    ATTRS{speed}=="480"
    ATTRS{devspec}=="  (null)"
    ATTRS{ltm_capable}=="no"
    ATTRS{version}==" 2.00"
    ATTRS{configuration}==""
    ATTRS{devnum}=="6"
    ATTRS{idVendor}=="1b80"
    ATTRS{rx_lanes}=="1"
    ATTRS{bNumConfigurations}=="1"
    ATTRS{bConfigurationValue}=="1"
    ATTRS{idProduct}=="e409"
    ATTRS{bMaxPower}=="500mA"
    ATTRS{devpath}=="1.1.3"
    ATTRS{bDeviceProtocol}=="00"
    ATTRS{bMaxPacketSize0}=="64"
    ATTRS{busnum}=="1"
    ATTRS{urbnum}=="284768"
    ATTRS{authorized}=="1"
    ATTRS{bmAttributes}=="80"
    ATTRS{manufacturer}=="ITE Technologies, Inc."

3
KWorld UB499-2T T09 in kernel since 3.2 1b80:e409 USB2.0 IT9137 dvb-usb-it9137-01.fw

  looking at parent device '//devices/platform/scb/fd500000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0/usb1/1-1/1-1.1/1-1.1.3':
    KERNELS=="1-1.1.3"
    SUBSYSTEMS=="usb"
    DRIVERS=="usb"
    ATTRS{rx_lanes}=="1"
    ATTRS{maxchild}=="0"
    ATTRS{busnum}=="1"
    ATTRS{version}==" 2.00"
    ATTRS{idVendor}=="1b80"
    ATTRS{authorized}=="1"
    ATTRS{bcdDevice}=="0200"
    ATTRS{product}=="DVB-T TV Stick"
    ATTRS{idProduct}=="e409"
    ATTRS{bConfigurationValue}=="1"
    ATTRS{bDeviceClass}=="00"
    ATTRS{devpath}=="1.1.3"
    ATTRS{bmAttributes}=="80"
    ATTRS{ltm_capable}=="no"
    ATTRS{bDeviceProtocol}=="00"
    ATTRS{bDeviceSubClass}=="00"
    ATTRS{bNumConfigurations}=="1"
    ATTRS{bNumInterfaces}==" 1"
    ATTRS{quirks}=="0x0"
    ATTRS{tx_lanes}=="1"
    ATTRS{bMaxPower}=="500mA"
    ATTRS{devnum}=="6"
    ATTRS{bMaxPacketSize0}=="64"
    ATTRS{manufacturer}=="ITE Technologies, Inc."
    ATTRS{devspec}=="  (null)"
    ATTRS{removable}=="unknown"
    ATTRS{urbnum}=="301632"
    ATTRS{avoid_reset_quirk}=="0"
    ATTRS{configuration}==""
    ATTRS{speed}=="480"


#4
#Hauppauge Hauppauge_WinTV-dualHD Model 01590 in kernel since 4.17 2040:0265 USB2.0 Silicon Labs Si2157, Silicon Labs Si2168,Empia EM28274 	dvb-demod-si2168-b40-01.fw 	Kernel >=4.7 first tuner only, kernel patch for both tuners. Kernel >=4.17 both tuners suported. 
# Create a symlink for both tuners of wintv dual hd device
SUBSYSTEM=="dvb", ATTRS{idVendor}=="2040", ATTRS{idProduct}=="0265", ENV{wintvdualhd}!="two", ENV{wintvdualhd}="two", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_hd0/%%s $${K#*.}'", SYMLINK+="%c"
SUBSYSTEM=="dvb", ATTRS{idVendor}=="2040", ATTRS{idProduct}=="0265", ENV{wintvdualhd}=="two", ENV{wintvdualhd}="one", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_hd1/%%s $${K#*.}'", SYMLINK+="%c"

  looking at parent device '//devices/platform/scb/fd500000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0/usb1/1-1/1-1.4':
    KERNELS=="1-1.4"
    SUBSYSTEMS=="usb"
    DRIVERS=="usb"
    ATTRS{devnum}=="4"
    ATTRS{authorized}=="1"
    ATTRS{product}=="dualHD"
    ATTRS{quirks}=="0x0"
    ATTRS{bDeviceSubClass}=="00"
    ATTRS{maxchild}=="0"
    ATTRS{avoid_reset_quirk}=="0"
    ATTRS{ltm_capable}=="no"
    ATTRS{manufacturer}=="HCW"
    ATTRS{bDeviceClass}=="00"
    ATTRS{bNumInterfaces}==" 1"
    ATTRS{bMaxPacketSize0}=="64"
    ATTRS{bcdDevice}=="0100"
    ATTRS{bConfigurationValue}=="1"
    ATTRS{removable}=="unknown"
    ATTRS{idVendor}=="2040"
    ATTRS{devspec}=="  (null)"
    ATTRS{serial}=="0014053554"
    ATTRS{configuration}==""
    ATTRS{version}==" 2.00"
    ATTRS{idProduct}=="0265"
    ATTRS{bDeviceProtocol}=="00"
    ATTRS{bmAttributes}=="80"
    ATTRS{busnum}=="1"
    ATTRS{speed}=="480"
    ATTRS{bMaxPower}=="500mA"
    ATTRS{tx_lanes}=="1"
    ATTRS{rx_lanes}=="1"
    ATTRS{bNumConfigurations}=="1"
    ATTRS{urbnum}=="44757"
    ATTRS{devpath}=="1.4"

5
Hauppauge Hauppauge_WinTV-dualHD Model 01590 in kernel since 4.17 2040:0265 USB2.0 Silicon Labs Si2157, Silicon Labs Si2168,Empia EM28274 	dvb-demod-si2168-b40-01.fw 	Kernel >=4.7 first tuner only, kernel patch for both tuners. Kernel >=4.17 both tuners suported. 

  looking at parent device '//devices/platform/scb/fd500000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0/usb1/1-1/1-1.4':
    KERNELS=="1-1.4"
    SUBSYSTEMS=="usb"
    DRIVERS=="usb"
    ATTRS{ltm_capable}=="no"
    ATTRS{devpath}=="1.4"
    ATTRS{busnum}=="1"
    ATTRS{idVendor}=="2040"
    ATTRS{bNumInterfaces}==" 1"
    ATTRS{bcdDevice}=="0100"
    ATTRS{bConfigurationValue}=="1"
    ATTRS{maxchild}=="0"
    ATTRS{manufacturer}=="HCW"
    ATTRS{bNumConfigurations}=="1"
    ATTRS{bMaxPacketSize0}=="64"
    ATTRS{bDeviceProtocol}=="00"
    ATTRS{removable}=="unknown"
    ATTRS{avoid_reset_quirk}=="0"
    ATTRS{bDeviceClass}=="00"
    ATTRS{bDeviceSubClass}=="00"
    ATTRS{idProduct}=="0265"
    ATTRS{authorized}=="1"
    ATTRS{serial}=="0014053554"
    ATTRS{quirks}=="0x0"
    ATTRS{bMaxPower}=="500mA"
    ATTRS{tx_lanes}=="1"
    ATTRS{bmAttributes}=="80"
    ATTRS{urbnum}=="46069"
    ATTRS{product}=="dualHD"
    ATTRS{devnum}=="4"
    ATTRS{configuration}==""
    ATTRS{speed}=="480"
    ATTRS{version}==" 2.00"
    ATTRS{rx_lanes}=="1"
    ATTRS{devspec}=="  (null)"


#6
#KWorld UB499-2T IT9135 from Kernel 3.2 	048d:9135 USB2.0 ITE IT9135	dvb-usb-it9135-01.fw
# Create a symlink for both tuners of KWorld UB499-2T T09 device
SUBSYSTEM=="dvb", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="9135", ENV{UB499}!="two", ENV{UB499}="two", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_UB499_0/%%s $${K#*.}'", SYMLINK+="%c"
SUBSYSTEM=="dvb", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="9135", ENV{UB499}=="two", ENV{UB499}="one", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_UB499_1/%%s $${K#*.}'", SYMLINK+="%c"

  looking at parent device '//devices/platform/scb/fd500000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0/usb1/1-1/1-1.1/1-1.1.4':
    KERNELS=="1-1.1.4"
    SUBSYSTEMS=="usb"
    DRIVERS=="usb"
    ATTRS{maxchild}=="0"
    ATTRS{idVendor}=="048d"
    ATTRS{authorized}=="1"
    ATTRS{configuration}==""
    ATTRS{bDeviceSubClass}=="00"
    ATTRS{removable}=="unknown"
    ATTRS{bcdDevice}=="0200"
    ATTRS{bMaxPacketSize0}=="64"
    ATTRS{bDeviceProtocol}=="00"
    ATTRS{avoid_reset_quirk}=="0"
    ATTRS{bDeviceClass}=="00"
    ATTRS{bmAttributes}=="80"
    ATTRS{bNumConfigurations}=="1"
    ATTRS{bConfigurationValue}=="1"
    ATTRS{speed}=="480"
    ATTRS{ltm_capable}=="no"
    ATTRS{urbnum}=="24295"
    ATTRS{devspec}=="  (null)"
    ATTRS{busnum}=="1"
    ATTRS{idProduct}=="9135"
    ATTRS{tx_lanes}=="1"
    ATTRS{bNumInterfaces}==" 1"
    ATTRS{devnum}=="7"
    ATTRS{rx_lanes}=="1"
    ATTRS{bMaxPower}=="500mA"
    ATTRS{quirks}=="0x0"
    ATTRS{version}==" 2.00"
    ATTRS{devpath}=="1.1.4"

7
KWorld UB499-2T IT9135 from Kernel 3.2 	048d:9135 USB2.0 ITE IT9135	dvb-usb-it9135-01.fw

KWorld UB499-2T T09 in kernel since 3.2 1b80:e409 USB2.0 IT9137 dvb-usb-it9137-01.fw

KWorld USB Dual DVB-T TV Stick (DVB-T 399U) in kernel since 2.6.28 	1b80:e399 1b80:e400 USB2.0 	Afatech AF9013/Afatech AF9015/2x MXL5003S 	dvb-usb-af9015.fw

Hauppauge Hauppauge_WinTV-dualHD Model 01590 in kernel since 4.17 2040:0265 USB2.0 Silicon Labs Si2157, Silicon Labs Si2168,Empia EM28274 	dvb-demod-si2168-b40-01.fw 	Kernel >=4.7 first tuner only, kernel patch for both tuners. Kernel >=4.17 both tuners suported. 
