# /etc/udev/rules.d/10-dvb.rules
#
# To Ientify serial nos etc for a Device call
# udevadm info -a -p $(udevadm info -q path -n /dev/dvb/adapter0/frontend0)
#

# Create a symlink /dev/dvb/adapter110 pointing to tuner 0, and adapter111 for tuner 1
# SUBSYSTEM=="dvb", ATTRS{idVendor}=="2040", ATTRS{idProduct}=="0265", PROGRAM="/bin/sh -c ' K=%k; K=$${K#dvb}; N=$${K#*.}; if [ ! -e /dev/dvb/adapter110/$N ] ; then  printf dvb/adapter110/%%s $${K#*.}; else printf dvb/adapter111/%%s $${K#*.}; fi ; exit 0'", SYMLINK+="%c"

#0, 1
#KWorld USB Dual DVB-T TV Stick (DVB-T 399U) in kernel since 2.6.28 	1b80:e399 1b80:e400 USB2.0 	Afatech AF9013/Afatech AF9015/2x MXL5003S 	dvb-usb-af9015.fw
# Create a symlink for both tuners of KWorld USB Dual DVB-T TV Stick (DVB-T 399U) device
#SUBSYSTEM=="dvb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="e399", ENV{399u}!="two", ENV{399u}="two", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_399u_0/%%s $${K#*.}'", SYMLINK+="%c"
#SUBSYSTEM=="dvb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="e399", ENV{399u}=="two", ENV{399u}="one", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_399u_1/%%s $${K#*.}'", SYMLINK+="%c"
# Create a symlink /dev/dvb/adapter110 pointing to pinnacle tuner 0, and adapter111 for tuner 1
SUBSYSTEM=="dvb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="e399", PROGRAM="/bin/sh -c ' K=%k; K=$${K#dvb}; N=$${K#*.}; if [ ! -e /dev/dvb/adapter_399u_0/$N ] ; then  printf dvb/adapter_399u_0/%%s $${K#*.}; else printf dvb/adapter_399u_1/%%s $${K#*.}; fi ; exit 0'", SYMLINK+="%c"

#2, 3
#KWorld UB499-2T T09 in kernel since 3.2 1b80:e409 USB2.0 IT9137 dvb-usb-it9137-01.fw
# Create a symlink for both tuners of KWorld UB499-2T T09 device
#SUBSYSTEM=="dvb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="e409", ENV{UB499T09}!="two", ENV{UB499T09}="two", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_UB499T09_0/%%s $${K#*.}'", SYMLINK+="%c"
#SUBSYSTEM=="dvb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="e409", ENV{UB499T09}=="two", ENV{UB499T09}="one", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_UB499T09_1/%%s $${K#*.}'", SYMLINK+="%c"
SUBSYSTEM=="dvb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="e409", PROGRAM="/bin/sh -c ' K=%k; K=$${K#dvb}; N=$${K#*.}; if [ ! -e /dev/dvb/adapter_UB499T09_0/$N ] ; then  printf dvb/adapter_UB499T09_0/%%s $${K#*.}; else printf dvb/adapter_UB499T09_1/%%s $${K#*.}; fi ; exit 0'", SYMLINK+="%c"

#6
#KWorld UB499-2T IT9135 from Kernel 3.2 	048d:9135 USB2.0 ITE IT9135	dvb-usb-it9135-01.fw
# Create a symlink for both tuners of KWorld UB499-2T device
#SUBSYSTEM=="dvb", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="9135", ENV{UB499}!="two", ENV{UB499}="two", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_UB499_0/%%s $${K#*.}'", SYMLINK+="%c"
#SUBSYSTEM=="dvb", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="9135", ENV{UB499}=="two", ENV{UB499}="one", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_UB499_1/%%s $${K#*.}'", SYMLINK+="%c"
SUBSYSTEM=="dvb", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="9135", PROGRAM="/bin/sh -c ' K=%k; K=$${K#dvb}; N=$${K#*.}; if [ ! -e /dev/dvb/adapter_UB499_0/$N ] ; then  printf dvb/adapter_UB499_0/%%s $${K#*.}; else printf dvb/adapter_UB499_1/%%s $${K#*.}; fi ; exit 0'", SYMLINK+="%c"

# try this
# Create a symlink for both tuners of wintv dual hd device
#SUBSYSTEM=="dvb", ATTRS{idVendor}=="c", ATTRS{idProduct}=="0265", ENV{wintvdualhd}!="two", ENV{wintvdualhd}="two", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_hd0/%%s $${K#*.}'", SYMLINK+="%c"
#SUBSYSTEM=="dvb", ATTRS{idVendor}=="2040", ATTRS{idProduct}=="0265", ENV{wintvdualhd}=="two", ENV{wintvdualhd}="one", PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter_hd1/%%s $${K#*.}'", SYMLINK+="%c"
SUBSYSTEM=="dvb", ATTRS{idVendor}=="2040", ATTRS{idProduct}=="0265", PROGRAM="/bin/sh -c ' K=%k; K=$${K#dvb}; N=$${K#*.}; if [ ! -e /dev/dvb/adapter_hd0/$N ] ; then  printf dvb/adapter_hd0/%%s $${K#*.}; else printf dvb/adapter_hd1/%%s $${K#*.}; fi ; exit 0'", SYMLINK+="%c"
